version: "3.9"

services:
  backend:
    build: ./apps/backend
    ports:
      - "3001:3000"
    env_file:
      - ./apps/backend/.env

  frontend:
    build: ./apps/frontend
    ports:
      - "3000:3000"
